[Unit]
Description=DuckDNS IP Update Timer
Requires=duckdns-update.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target 